html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
background-color: black;
background-image: url("galaxy-1.jpg");
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
}

/* .container {
    background-image: url("bg.jpg");
} */